.middle-flex{
    display: flex;
    justify-content: center;
    gap: 12px;

    a{
        margin: 12px;
        margin-top: 20px;
    }
}

#main-weather-flex{
    display: flex;
    gap: 4px;
    overflow:auto;
}

.page-link.active{
    text-decoration: underline;
    font-weight: 800;
    color: red;
}