.current-health-container{
    display: flex;
    border-radius: 4px;
    border: 3px solid rgba(242, 242, 240, 0.7) ;
    align-items: center;
    flex-direction: column;

    background-color: var(--secondry-colour);
    backdrop-filter:blur(26px);
    width:auto;
    height: 300px;
    margin-top: 32px;
    margin-left: 62px;
    margin-right: 62px;

    .index-level{
        font-size: 50px;
    }
}