#auth-container{
    display: flex;
    justify-content: center;

    height: 800px;
    margin-top: 32px;

    img{
        width: 600px;
    }
}


#auth{

    display: flex;
    align-items: center;
    flex-direction: column;

    box-shadow: 3px 8px 6px black;
    width: 600px;
    background-color: var(--background);
    filter: blur(100px);
    filter: opacity(70%);
        
}

.auth-head-text, .auth-head{
    margin: 100px;
    font-size: 42px;
}
.auth-head{
    margin: 50px;
}

.container{
    display: flex;
    justify-content: center;

    height: 800px;
    margin-top: 32px;

    img{
        width: 600px;
    }
}


.background, .weather-background{
    display: flex;

    height: 1000px;
    width: auto;
    background-image: url("../../Components/Images/Home_search_banner.jpg");
    background-position: bottom;
    justify-content: center;
}

.weather-background{
    display: block;
}

.input-class, .auth-input-button {
    width: 400px;
    height: 35px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid black;


}

.auth-input-button{
    width:408px;
    margin-top: 20px;
    background-color: var(--main-colour);
}

.auth-input-text{
    margin-bottom: 10px;
}

#auth-nav-links{
    display: flex;
    justify-content: space-between;
    /* y does this not work?? */
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 408px;
    margin-top: 20px;

    border: 1px solid red;
    a{
        font-size: 17px;
    }
}