

body {
    box-sizing: 0px;
    margin: 0px;

    font-size: 23px;
    --primary-colour: #BF9A56;
    --secondry-colour: rgba(242, 137, 99,0.2);
    --main-colour: #F24405;
    --background: #F2F2F0;
    --green: #736002;

}


