#footer-page{
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensures vertical alignment */
    background-color: var(--primary-colour);
    height: 140px;
}

#footer-title{
    font-size: 48px;
    font-weight: bold;
    
}
#social-medias{

    img{
        height: 50px;
    }
}

#contacts{
    
    div{font-size: 18px;}
    
}